<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error!</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <p>You have to enter a name!</p>
    <a href="/play">Return to game</a>
  </body>
</html>
