<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mystery Word Game</title>
  </head>
  <body>
    <main id="index">
      <h1>Play Mystery Word?</h1>
      <div class="index-button-wrapper">
        <form method="POST">
          <input class="index-button easy" type="submit"   name="play" value="Easy">
        </form>
        <form method="POST">
          <input class="index-button normal" type="submit"   name="play" value="Normal">
        </form>
        <form method="POST">
          <input class="index-button hard" type="submit"   name="play" value="Hard">
        </form>
      </div>
      <div class="index-bottom-menu">
        <a href="/winners">Winners</a>
      </div>
    </main>
  </body>
</html>
