/* --------
Import font
----------- */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* --------
Main Styles
----------- */

* {
  font-family: 'Press Start 2P', monospace;
  box-sizing: border-box;
  background-image: url("images/bg.jpeg");
  background-color: #8ed2c9;
  color: white;
}

#index {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}

#index h1 {
  font-size: 3rem;
  color: white;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: #ff7a5a;
}

a:hover {
  color: white;
}

/* --------
Home Page Button Styles
----------- */

.index-button-wrapper {
  display: flex;

}

.index-button {
  width: 170px;
  height: 70px;
  font-size: 1.2em;
  border: none;
  margin: 15px;
  background: #ff7a5a;
  outline: none;
}

.easy {
  color: white;
}

.easy:hover {
  color: #ff7a5a;
  background: white;
  border-color: white;
}

.normal {
  color: white;
}

.normal:hover {
  color: #ff7a5a;
  background: white;
  border-color: white;
}

.hard {
  color: white;
}

.hard:hover {
  color: #ff7a5a;
  background: white;
  border-color: white;
}

.index-bottom-menu {
  margin-top: 70px;
}


/* --------
Play Page Styles
----------- */

#play {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 40vh 1fr;
}

#play div {
  width:100%;
}

.play-diff {
  text-align: center;
  margin-left: -60px;
}

.difficulty, .remaining-num{
  font-size: 2.5em;
  padding: 30px;
  line-height: 150%;

}

.remaining-num {
  background-color: transparent;
}


.play-remaining-guesses {
  text-align: center;
  margin-right: 1em;
}

.play-word {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 6rem;
}

.word-letter {
  margin: 10px;
}

.play-bad-and-current {
  grid-column: 2;
  justify-content: center;
  padding-top: 60px;
  font-size: 2rem;
}

.guess-title, .allGuess-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.winner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allGuess-letter, #current-guess {
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 30px;
  font-size: 4rem;
}

.lose-letter {
  color: #ff7a5a;
  margin: 10px;
}

#current-guess {
  color: #ff7a5a;
}

/* --------
Winners Page Button Styles
----------- */

#winners {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 200%;
}

#winners h1 , a {
  margin: 40px 0;
}

.winner-form span {
  font-size: 1rem;
}

.winner-table {
  background: lightgray;
}

.winner-table td {
  border: 1px solid lightgray;
  background: white;
  padding: 10px 10px 5px;
  color: #2F4F4F;
}

.winner-table thead {
  font-size: 1.4rem;
  font-weight: 800;
}
